[2021-02-26 17:50] cforce commented on #529
That is pretty danger. If you can not rely on repeating things when rerunning but do something completely different.
I am also heavily relying of such behaviour.

[2021-02-27 01:04] rajurh commented on #529
Hoping the issue gets resolved earliest. With this behavior, we can't use the YAML pipeline in production scenarios.

[2021-03-01 12:46] cforce commented on #260
Rerunning a job does not repeatable lead to the same results if
* you use variable groups, because the values are pulled each time fresh from "head". On release pipelines the versioned used at first run was pinned
* you checkout source code repositories and don't you a fixed tag instead just a branch where is always pull the latest head revision in moment of execution.
This makes the feature for u

[2021-03-13 00:28] sukoneck commented on #459
This is such a bummer to find. Great write-up @Slooz

[2021-03-16 22:05] LachlanMarnham opened #533 "Are multi-line template expressions possible?"
Dear community,

I have the following template expression inside a `variables` block:

`${{ if and(eq(variables['Build.Reason'], 'IndividualCI'), startsWith(variables['Build.SourceBranchName'], 'test_')) }}`

Which I would love to be able to write like this:

[code]
but after reading the documentation I was unable to work out how to do this.

Alternatively, I would be happy to instead write:

[cod

[2021-03-19 17:19] adityavikasd commented on #378
I ran into the same issue. This is because my repository had a `azure-pipelines.yml` file at the root level. Deleting it or renaming it fixed the issue

[2021-04-16 15:35] joshspicer opened #535 "Resource webhook trigger is misdocumented?"
I am working on connecting an ADO YAML pipeline to be triggered by a webhook via service connection.

Looking at the documentation here on [how to supply a `filter`](https://github.com/microsoft/azure-pipelines-yaml/blob/482280dc85ecf3311f22e0cb49721b5a9ef10ead/design/pipeline-triggers.md#example-1)

is not correct, as visible through the YAML intellisense.

![image](https://user-images.githubuser

[2021-04-16 18:01] mjroghelia commented on #535
@joshspicer This is telling you that you need a `-` in front of `"$.action"`. Filters is an array of mappings, not a mapping.

[2021-04-16 18:16] joshspicer commented on #535
I was just copying the docs on this repo to illustrate the problem. Adding a `-` doesn't help :(
![image](https://user-images.githubusercontent.com/23246594/115066783-00d70b00-9ebe-11eb-8d5d-28752129a8c0.png)

I don't get any syntactic errors when I set it up like below, but that doesn't actually work (my incoming webhooks are not filtered by this key/value pair
![image](https://user-images.github

[2021-04-16 18:18] joshspicer commented on #535
Am I missing something on how `filters` is supposed to behave in the first place?  I want to filter based on the JSON webhook data that I receive on this pipeline. From GitHub, when a "release" webhook is sent, it's sent 3 times (with _three_ distinct `actions`.)

The JSON looks like this:

[code]

When `SOME_VALUE` == "released" I want this pipeline to run, otherwise I don't want it to run.

[2021-04-16 18:31] mjroghelia commented on #535
@joshspicer Sorry I can't help more. The document you are referring to is a design doc and as stated in the [README](
https://github.com/microsoft/azure-pipelines-yaml/tree/master/design#azure-pipelines-yaml---design-docs) not maintained as permanent documentation of the product.

[2021-04-16 18:31] #535 closed

[2021-04-19 15:24] andy-mishechkin commented on #531
Hello, @serxansherif
Did you mean Azure DevOps yaml scheme ?
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema%2Cparameter-schema - here I see no any "blueGreen" keywords for strategies. `Parallel, matrix, maxParallel` only.
![image](https://user-images.githubusercontent.com/57713077/115261080-60dee300-a144-11eb-82b5-45f99936fa67.png).
Please clarify

[2021-04-19 15:48] serxansherif commented on #531
Hello @andy-mishechkin

According to the following link, Blue green deployment strategy can be used in the yaml pipeline.

https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/deployment-strategies.md

[2021-04-19 16:20] andy-mishechkin commented on #525
Hello, @vishnu-anil
I've tried to reproduce you YAML, and all looks good:
![image](https://user-images.githubusercontent.com/57713077/115269156-15c8ce00-a14c-11eb-80d8-c1c2237c6982.png)
I suggest, that you have somewhere wrong formatting - may you check your YAML once again.
For example, if I'll add one more space before `- ${{ if eq(parameters.test, true) }}:` - I'll get the invalid YAML structur

[2021-04-19 16:24] andy-mishechkin commented on #526
Hello, @blake-mealey
As far as I know, now we have no any description of `template-name.properties.json` files.
We plan to create this documentation in foreseeable future, and place it in azure-pipelines-yaml repo.
Thank you for your note!

[2021-04-19 16:35] blake-mealey commented on #526
Thanks for the response.

FYI here's my docs generation tool: https://www.npmjs.com/package/@pipelinedoc/cli

AS you can see, I took inspiration from your format but adapted it to my needs.

[2021-04-20 00:33] joshspicer commented on #535
Hey @mjroghelia - I understand that perhaps this repo isn't the best source of information for how to use this feature. I've also tried referencing the permanent documentation on docs.microsoft.com (found [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resources?view=azure-devops&tabs=schema#resources-webhooks) and announced [here](https://docs.microsoft.com/en-us/azure/devo

[2021-04-20 00:39] joshspicer commented on #535
For reference, this is what the docs say vs what I have in my pipeline.  The JSON webhook body is sent as I shared above.

I am sent three requests from [Github when a `release` is created](https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#release), with three different actions.  My goal is to filter by the `action` key.

## The documentation
[code]

## My pipel

[2021-04-21 10:38] anatolybolshakov commented on #535
Hi @joshspicer I would suggest to create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it and further help - this repo is for yaml templates mostly

[2021-04-21 13:17] joshspicer commented on #535
sure, ill do that.

[2021-04-21 14:48] SimonAlling commented on #256
I have discovered a hack that accomplishes this:

[code]

In general, I highly recommend sticking to boolean expressions (for example the application of a boolean-valued [function](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#functions) like `eq`, `gt` or `in`) as the first argument of the inner `replace` application. Had we not done so and instead

[2021-04-21 15:07] joshspicer commented on #535
Link to the devcon issue, for anyone that stumbles upon this issue in the future

https://developercommunity.visualstudio.com/t/filters-on-resource-webhook-trigger-are-not-applie/1404363?from=email

[2021-04-21 15:15] SimonAlling commented on #278
See [my comment](https://github.com/microsoft/azure-pipelines-yaml/issues/256#issuecomment-824121862) on #256 for a workaround.

[2021-04-29 06:32] andy-mishechkin commented on #525
Hello, @vishnu-anil
Do you have any updates ?

[2021-05-04 06:27] andy-mishechkin commented on #525
Closed, because no activity in last 5 days.
@vishnu-anil , please feel free to reopen, if you will have new updates.

[2021-05-04 06:27] #525 closed

[2021-05-06 18:31] sebastianbirk opened #537 "Dynamically determine repository resources"
We have a design where we want to share one pipeline repository (e.g. test_repo_0) that contains our ADO pipelines among multiple model repositories (e.g. test_repo_1 and test_repo_2) with a multi-repository checkout strategy. The model repository that needs to be checked out to the ADO agent has to be determined dynamically. For the checkout steps we can do that using parameters (specifying eithe

[2021-05-07 07:31] FlorianPydde commented on #537
Hi,

We are also facing this issue. We want to restrict users to only be able to run a pipeline but not modify it. The later pipeline will have to pick up some code/configs from another repo where the client pushes all the code. Is there a way to specify the repo name dynamically without listing the repo in the "resources" variables (like the one provided above) ?

[2021-05-07 11:13] rweickelt commented on #30
The first time I wanted to use templates and I immediately ran into that issue. What a poor design. Users should not need to care about when and how variables are expanded. That is just an implementation detail. It should be as easy as this:

[code]

The pipeline should then make 2 evaluation passes:
- one on DOM level as explained to load all templates unconditionally
- one after job orchestratio

[2021-05-10 17:57] josh-endries opened #538 "Confused about using YAML templates in other repositories"
Hello, I'm new to using YAML pipelines, always used the UI before. Hopefully this is the right place for this question.

I am trying to set up a YAML pipeline that uses another pipeline template defined in a different repository, which in turn uses a third pipeline template in that same repository. Is this possible? E.g.:

[code]

The MyApp pipeline seems to find and run the app-build pipeline and

[2021-05-11 13:40] josh-endries commented on #538
I was able to work around the problem by having the template check itself out and absolutely reference the file path within my PowerShell step via:

    filePath: $(Agent.BuildDirectory)/s/repo/path/to/script.ps1

I am guessing that this isn't the expected/correct way to do this, though...

[2021-05-14 06:15] anilsamuel opened #539 "how to use "Each" Template Expression for a json array text in variable"
I have a json array in ip_addrs task variable as below. Is it possible to iterate through this array using Each or similar ?

[code]

[2021-05-14 07:44] sebastianbirk commented on #537
Hi @anatolybolshakov thanks for the hint. How can we get a list of all repositories in the ADO project to loop over? Because that is what would be needed for the 'each' expression, right? We want to add all repositories that are in the ADO project to the repository resources section of the pipeline.

[2021-05-14 09:30] anatolybolshakov commented on #537
@sebastianbirk I'm not sure if it's possible at the moment to retrieve it from variable - you can only specify it as list above.
This repo is mostly for yaml templates - if you want this as a new feature - please feel free to open a ticket on https://developercommunity.visualstudio.com/search?space=21

[2021-05-18 19:27] max-zaytsev commented on #533
Hi @LachlanMarnham, multi-line template expressions are not supported. And, yes, there is some difference in expanding variables in Template expressions and Runtime expressions (Please see more details [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#template-expression-syntax))

In your case, I think you can try this:

[code]

[2021-05-19 09:13] FlorianPydde commented on #537
@anatolyboshakov thanks for providing the link for the feature request.

[2021-05-20 16:07] anatolybolshakov commented on #537
@FlorianPydde feel free to open ticket on https://developercommunity.visualstudio.com/search?space=21
Let me close this one since it's not related to yaml templates provided in this repo.

[2021-05-20 16:07] #537 closed

[2021-05-24 16:57] anatolybolshakov commented on #538
Hi @josh-endries yes, you can use it from other repository - please see the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#use-other-repositories).

[2021-05-24 17:28] anatolybolshakov commented on #531
Hi @serxansherif blue-green strategy is obsolete at the moment - you can find list of available strategies in [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops).
I created PR for this - https://github.com/microsoft/azure-pipelines-yaml/pull/541

[2021-05-24 17:33] anatolybolshakov commented on #529
Hi @rajurh this repo is mostly for yaml templates - your question is more related to DevOps Server side, I would suggest to ask any further questions on https://developercommunity2.visualstudio.com/search?from=email&viewtype=all&space=21 to get right eyes on it.
Closing this here since it's not related to yaml templates.

[2021-05-24 17:33] #529 closed

[2021-05-24 17:42] anatolybolshakov commented on #539
Hi @anilsamuel you can't use runtime value for each command - please see [docs](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/each-expression.md) for some examples.

[2021-05-24 21:51] anilsamuel commented on #539
ok. Is there any other I can loop through the values in ip_addrs and create a job ?

[2021-05-25 08:27] xinfli commented on #539
No, I think it's impossible; I have spend several hours on same problem and finally realized this.

1. You can loop parameter with array value, but the array value have to be hard coded in yaml pipeline;
2. You can not pass an array dynamic generated to parameter since variable does not support array value;

Why it's designed as so?

[2021-05-25 10:40] anatolybolshakov commented on #533
@LachlanMarnham I'm closing this since it looks resolved - please feel free to ask any further questions.

[2021-05-25 10:40] #533 closed

[2021-05-25 11:28] anatolybolshakov commented on #539
@xinfli @anilsamuel this repository is mostly for yaml templates at the moment - please feel free to open ticket on https://developercommunity.visualstudio.com/search?space=21 for further questions.
Let me close this at the moment since it's not related to templates which repository contains.

[2021-05-25 11:28] #539 closed

[2021-05-25 14:02] #531 closed

[2021-05-26 03:16] anilsamuel commented on #539
The intent is to obtain the ip address of the ec2 instances and to test the custom sftp service on it. The ip address is dynamic hence cannot be known in advcance; hence the aws cli query to dynamically obtain the ip address.

Could you think of a better way to do this ?

[2021-05-26 12:09] anatolybolshakov commented on #538
@josh-endries I'm closing it at the moment since it looks resolved - please feel free to ask any further questions.

[2021-05-26 12:09] #538 closed

[2021-06-17 17:36] front1989 opened #544 "How to use those templates?"
Hello,

This is a great repo, but I could not find the examples in how to use those templates.
Will be good to have some examples in how to use them.

Thanks

[2021-06-17 17:39] #544 closed

[2021-06-17 17:39] front1989 commented on #544
Sorry I found that i another area

[2021-06-26 03:10] #526 closed

[2021-07-05 08:09] jnancel commented on #347
Hello guys,

For the record, I believe the error is due to the fact that you're missing `'` around your values.

It should work with
[code]

What I deduced from the tests I made is that `${{ parameters.envName }}` is replaced at build time by the proper value, and if you don't add single quotes around your value, Azure DevOps tries to evaluate the value not as a string but as an Azure Pipelines el

[2021-07-06 10:16] lukeapage commented on #276
I had the problem where I wanted to use the result of a replace expression in a expression - to get round it I had to define a job which used powershell to do the replacement and then variables setup in the next job that used the result of the replace...

[2021-07-06 12:50] anatolybolshakov commented on #276
Hi @lukeapage could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on your question? This repo is mostly for yaml project templates, so this would be a better place to get a quick support...

[2021-07-19 20:39] ZaahierAdams commented on #378
This worked. Thanks

[2021-07-20 16:56] Hkyx commented on #463
have the same issue, @djpugh how did you solve this?

[2021-07-20 20:52] airowe commented on #103
Getting this error now. Is it a versioning issue?

[2021-07-23 19:34] djpugh commented on #463
@Hkyx I gave up with trying, and just manually put stuff in...

[2021-07-23 19:49] Hkyx commented on #463
Thanks @djpugh  :/

[2021-08-11 03:17] derekwilliamsliquidx commented on #378
Deleting or renaming pipeline files should never be required. I am encountering this issue.

I don't know what changed, but this is a serious regression.

[2021-08-27 18:48] 50Wliu opened #546 "Are pipeline triggers for the same pipeline supported?"
My intention of creating an issue here is to understand if my scenario is supported; if it is, I'll follow up with DevOps support; if not, I'll open a feature request on Developer Community.

My question is: **Can I create a pipeline resource that triggers on itself?**

For example, let's say my multi-stage pipeline is called "ci-test" with stages "build" and "deployPPE", plus an additional "deplo

[2021-09-01 08:23] sijucm commented on #463
Another Microsoft rabbit hole. I try to use the loop and run a job, but then the job name has to be unique. To give a job name I try to find the index, but no. Why I need a job (instead of without a job), yeah because some tasks has to be server tasks and some has to be agent tasks. Microsoft world is all about these complex and illogical matrixes. Microsoft is about these rabbit holes and people

[2021-09-02 16:33] maxTeste opened #547 "Could not find gem 'digest-crc (~> 0.6.1)' in locally installed gems"
hey guys
can someone help me?
I'm trying to run fastlane with pipeline azure and then with fastlane call discord_notifier (https://github.com/nikolas-theodosis/fastlane-discord_notifier)
so
pipeline azure -> fastlane -> discord_notifier

if I only test fastlane with the discord notifier it works fine, but if the pipline triggers the fastlane (bundle exec fastlane dev) it doesn't work

erro on pipe

[2021-09-06 08:58] konstantinmiller commented on #325
Could you please provide a link to this topic in the Developer Community? I couldn't find it.

[2021-09-09 08:36] alemoineRV opened #548 "Possible to propose an Angular template with a cache for npm dependencies"
This repo is for working in the open on Azure Pipelines YAML features. It's not a great place to make [new feature requests](https://developercommunity.visualstudio.com/spaces/21/index.html), [report problems](https://developercommunity.visualstudio.com/spaces/21/index.html), or [get support](https://azure.microsoft.com/en-us/support/devops/). Issues you open here may sit unreviewed for a very lon

[2021-09-13 14:47] InKahootz opened #549 "Is it possible to use compile-time expressions/conditional insertion for demands?"
Just like the title asks. Is it possible to do something like this? I'm getting a couple different queue time errors (right when I press the 'Run' button). Compiles just fine. Azure DevOps 2020 for references.

This template demand:
[code]
produces `/.pipelines/ci.yml (Line: 35, Col: 3): A template expression is not allowed in this context` at queue time.

While
[code]
produces: `/.pipelines/ci.ym

[2021-09-13 15:07] anatolybolshakov commented on #549
Hi @InKahootz this repo is mostly for yaml templates presented in repo - I would suggest to open a ticket on [developer community](https://developercommunity.visualstudio.com/search?space=21) regarding this question. Looks like it is not allowed in this context per error message, but it could make more sense to double-check.

[2021-09-13 15:13] InKahootz commented on #549
@anatolybolshakov Okay! Thanks for the quick feedback. I will close this out here then.

[2021-09-13 15:13] #549 closed

[2021-09-14 01:58] ahaleiii commented on #435
https://developercommunity.visualstudio.com/t/Make-SystemPullRequestSourceBranch-and/1131844

[2021-09-26 17:09] jikuja commented on #430
Were the facts mentioned here and in https://developercommunity.visualstudio.com/t/Unexpected-value-pool-when-extending-a/992713?space=21&q=directory+separator&entry=myfeedback never added into documentation?

[2021-09-30 21:07] wwestrop commented on #325
@konstantinmiller [It is here](https://developercommunity.visualstudio.com/idea/1007477/missing-gui-option-create-git-tag-after-successful.html)

[2021-10-05 02:15] haodeon commented on #84
This is one of the first search results for this issue.

The solution is to share the service connection across projects.

[2021-10-19 03:42] grvillic commented on #31
Like other people here, the "Authorize resources" button didn't work in my case. Nevertheless, the workaround that fixed it for me was editing the service connection and reverting changes:

1. Edit Service connection: change name (copy the old name) and uncheck "Grant Access permission to all pipelines"
2. Click on "Verify and save"
3. Edit Service connection: revert name (paste old name) and chec

[2021-11-12 09:02] ozbillwang opened #553 "matrix with dependson"
matrix is useful and reduce the codes a lot, especially run some silmiar jobs repeatly

[code]

But these jobs run in parallel

My jobs are related each other, so I'd like to wait for job1 finished, then move on to job2, then job3.

How can I do that?

[2021-11-18 13:51] jesselang commented on #463
This issue moved here: https://developercommunity.visualstudio.com/t/access-iterator-inside-each-loop/1192557
It appears to have gone very stale.

[2021-11-24 02:22] packnologynz commented on #31
I also can't get this working. I've tried all the suggested fixes above and still doesn't work. This issue was originally posted 3 years ago, so I guess it's not going to be resolved. I'm using GitHub as my repo, with the Pipelines integration app. I can get it working with a DevOps Git repo, but not with GitHub. Looks like I'll need to ditch Pipelines and move to GitHub Actions.

[2021-12-15 21:23] saurabh-sp-tripathi opened #554 "Is there a way I can define the azure pipeline template to be imported from a tag? [resources/repository/git]"
Consider a yaml based pipeline

[code]

This will refer to repository `azure-build-templates` in branch `master`. Is there a way I can declare to refer a tag instead of `master`?

**Context of its utility**: Recently we pushed something in master which consequently broke all the pipelines. As a fix we had to rollback with git operations. I wonder if there would be a way to refer from tag like jenk

[2021-12-21 13:09] bachhavdipak opened #556 "How to pass variable name to Azure stage and job?"
I am a newbie to azure DevOps and trying to design a pipeline, where I need to pass variable name Green to stage name and job name

Azure CLI:

echo 'PIPELINES RUNNING'
az pipelines run --name SampleTest --variables  "Variable=Green"

[code]

[2021-12-22 13:58] max-zaytsev commented on #556
Hi @bachhavdipak,
You can't use this variable for generating stage and job names as it is only available at runtime.
More info about it - https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#template-expression-syntax

I believe you can use [templates and parameters](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?v

[2021-12-22 13:58] #556 closed

[2021-12-30 11:01] KarolSiedlik commented on #554
[code]

you can use any ref here, like feature or commit

[2021-12-30 21:51] saurabh-sp-tripathi commented on #554
Thanks @KarolSiedlik. Is there a way to use variable-group or something similar in `ref` to centrally control release and rollback of my pipeline templates?

[2022-01-04 22:13] eddie8balltoliver opened #557 "Learning"
This repo is for working in the open on Azure Pipelines YAML features. It's not a great place to make [new feature requests](https://developercommunity.visualstudio.com/spaces/21/index.html), [report problems](https://developercommunity.visualstudio.com/spaces/21/index.html), or [get support](https://azure.microsoft.com/en-us/support/devops/). Issues you open here may sit unreviewed for a very lon

[2022-01-06 16:05] anatolybolshakov commented on #557
Hi @eddie8balltoliver yes, this repo is mostly for the issues or feature requests related to the YAML templates presented in the repo.
To get support for YAML editor or other server-side features, or submit a feature request - please reach out to the https://developercommunity.visualstudio.com/search?space=21.
Please let us know if you have any other questions.

[2022-01-06 16:05] #557 closed

[2022-01-06 20:16] bachhavdipak commented on #556
Hi @max-zaytsev

I am a newbie to azure DevOps and trying to design a pipeline, where I need to pass variable name Green, Yellow,Blue, Black & Orange to stage name and job name

Azure CLI:

[code]

[code]

[2022-01-07 13:16] quasarea commented on #533
Yaml has multiline keys support, those should be wrapped with ?:

This works for me in my templates:
[code]

[2022-01-08 15:13] eddie8balltoliver opened #558 "#free"
https://github.com/lapce/lapce/issues/56#issue-1096953775

[2022-01-10 09:37] anatolybolshakov commented on #558
Hi @eddie8balltoliver could you please elaborate your request? Do you experience some issue with YAML pipelines templates?

[2022-01-12 09:02] KonstantinTyukalov commented on #553
Hi @ozbillwang, based on the issue description, I can suggest the following options:

The first option is to use the `each` keyword: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#each-keyword

By using `each` keyword you can define the object parameter and iterate through it, each step in the cycle will be executed sequentially one after another. Her

[2022-01-12 09:10] ozbillwang commented on #553
`maxParallel: 1` is the setting I am looking for. Thanks.

[2022-01-12 09:10] #553 closed

[2022-01-14 09:11] KonstantinTyukalov commented on #546
Hi @50Wliu, this repo is mostly for YAML templates presented in the repo. Could you please open a ticket on the [developer community](https://developercommunity.visualstudio.com/search?space=21) regarding this question?

[2022-01-17 12:38] CloudFulness commented on #378
You need to setup the default (azure-pipelines.yml) pipeline first. Once that pipeline exists the configure step won't be skipped anymore when adding more pipelines based on the same repo.

[2022-01-24 13:07] KonstantinTyukalov commented on #546
Let me close this at the moment since it's not related to the templates which repository contains. Please feel free to open a ticket on the [developer community](https://developercommunity.visualstudio.com/search?space=21) for further questions.

[2022-01-24 13:07] #546 closed

[2022-01-28 18:00] anatolybolshakov commented on #558
@eddie8balltoliver I'm closing this due to the lack of details - please fee free to ask any further questions.

[2022-01-28 18:00] #558 closed

[2022-01-31 17:24] anatolybolshakov commented on #547
Hi @maxTeste this repo is mostly for yaml templates - I would suggest to open a ticket in https://developercommunity.visualstudio.com/search?space=21 for general questions about Azure DevOps and support.

[2022-01-31 17:30] anatolybolshakov commented on #554
Hi @saurabh-sp-tripathi this repo is mostly for yaml templates support located in this repo - for any questions regarding Azure DevOps I would suggest to open ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.
I believe you can use pipeline variables as a value for ref.

[2022-02-04 06:04] kandula-aswin opened #559 "New Pipeline resource variable 'resources.pipeline.<Alias>.requestedForEmail'"
We have a Pipeline A (CI) that is triggered from a commit to Azure Repo.

In the pipeline we can print the following [Pre-defined variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables)

[code]
Output:
[code]
Subsequently we Pipeline B (CD) triggered by a `pipelines` resource. It has a set of [Pipeline resource variables](https://docs.microsoft.com/en-us/azure/devops/pi

[2022-02-04 07:45] EzzhevNikita commented on #559
Hi @kandula-aswin this repo is mostly for yaml templates support located in this repo - for any questions regarding Azure DevOps I would suggest to open ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2022-02-04 08:11] kandula-aswin commented on #559
Thank you @EzzhevNikita, along with Pipelines template, resources too is core yaml
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema

I have taken your advice and submitted a question here too
https://developercommunity.visualstudio.com/t/Missing-Pipeline-resource-variable-reso/1654282

[2022-02-04 09:06] EzzhevNikita commented on #559
@kandula-aswin Let me close the item in this repo since we have you have created it in the developer community.

[2022-02-04 09:06] #559 closed

[2022-02-07 15:22] TomBailey-N opened #560 "pipeline-triggers.md conflicts with the same information on docs.microsoft.com"
I'm trying to use PR triggers as per https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/pipeline-triggers.md#schema-2

However it doesn't work. I'm using Azure Pipelines and Github. PR/CI workflow normally works when not called under resource.repositories

The docs.microsoft.com Schema for the same resource doesn't include the PR trigger:

https://docs.microsoft.com/en-us/azure/d

[2022-02-08 07:36] denis-tikhomirov commented on #560
@TomBailey-N, Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-10 07:18] denis-tikhomirov commented on #560
@TomBailey-N, I see that you mentioned doc https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/pipeline-triggers.md from design directory of the repo. But it's design docs, and the docs can be not up-to-date in some cases, please find the info in [README.md](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/README.md) for the [directory](https://github.com/micro

[2022-02-10 07:18] #560 closed

[2022-02-22 08:13] nbhoski opened #562 "PR #561"
Hi ,

I have raised a PR #561 to merge MATLAB templates . since no reviewers has been assigned yet i was wondering if i need to do anything else other than just PR to get these templates merged. Usually how much time should i expect PR to be merged in main .

Thanks and Regards
Nikhil

[2022-02-22 11:30] anatolybolshakov commented on #547
Closing this one at the moment as external - please let us know if you have any other questions.

[2022-02-22 11:30] #547 closed

[2022-02-22 11:49] anatolybolshakov commented on #554
Closing this at the moment as external - please let us know if you have any other questions.

[2022-02-22 11:49] #554 closed

[2022-02-22 17:01] nbhoski commented on #562
Thanks @DaniilShmelev for your response.

[2022-03-02 10:46] ttsakpc commented on #450
I needed the same thing and the only solution I found was to add a manual `git checkout` step after the `checkout: self` step (following your example):

[code]

The downside is that the run status shows that the pipeline was executed for the "default" branch instead of the branch that was actually used because of the script. But other than that, it works

[2022-03-17 10:26] AndersBillLinden commented on #153
Broken link

[2022-03-21 07:16] nbhoski commented on #562
Hi @DaniilShmelev  any updates on this PR ?

[2022-03-23 15:39] asos-tommycouzens commented on #256
This hack is very verbose and not easy to read. I wouldn't want to trouble my developers at having to work out what this does, and would much prefer having something like suggested in the original comment.

[2022-03-24 14:24] SimonAlling commented on #256
I absolutely agree!

Here is a more robust and readable version that the hack above has evolved into:

[code]

Of course it still pretty much requires an adjacent comment explaining what's going on, but yeah. It's probably close to the best we can do without proper conditional expression support.

**UPDATE 2025-05-29:** [Azure Pipelines now has built-in support for conditional expressions (`iif`)!

[2022-04-06 15:33] vivuu1989 opened #563 "How to have multiple foreach iteration azurepipeline yaml?"
in azuredevops yaml pipeline, can we have nested forloop ? or multiple for loop.

My requirements here is to iterate the pipeline through the mapped variable values and this should be done across environments.

Eg: In my ADO repo i have 10 folders for each apps and in each apps i have 4 different variabletemplate files for each environment ,namely "vars-development.yaml, vars-staging.yaml, vars-pr

[2022-04-10 16:07] emanuelb opened #564 "Incorrect env var DOTNET_TELEMETRY_OPT_OUT usage in container-steps.md (supposed to be DOTNET_CLI_TELEMETRY_OPTOUT)"
in file:
https://github.com/microsoft/azure-pipelines-yaml/blob/61d8c30ecde060e57a1cef1b16dc0e62b7997499/design/deprecated/container-steps.md#yaml-syntax

it contain lines:
https://github.com/microsoft/azure-pipelines-yaml/blob/61d8c30ecde060e57a1cef1b16dc0e62b7997499/design/deprecated/container-steps.md#L64
https://github.com/microsoft/azure-pipelines-yaml/blob/61d8c30ecde060e57a1cef1b16dc0e62b79

[2022-04-13 05:54] #563 closed

[2022-04-28 11:22] SvetlanaMaliugina commented on #564
Hi @emanuelb! Thanks for reporting. We will update this.

[2022-04-30 05:26] RDavis3000 commented on #30
What happened here?
@vtbassmatt  ?
I am experiencing the same thing; eq doesn't seem to work as expected with parameters

[2022-04-30 05:29] RDavis3000 commented on #30
I am having the same experience.
eq doesnt seem to work as expected with parameter values?
@vtbassmatt any ideas?

[2022-04-30 09:19] RDavis3000 commented on #30
I think the docs are good but there is something which needs to be spelled out with examples better IMHO. It says over and over again that 'variables arent available at template expansion time', but there are circumstances which make it APPEAR as though they are, but they arent.

(excuse the syntax)
Its perfectly legal to have:
pipeline.yml
******
variables:
   publishNowVariable: true

steps:

[2022-05-01 10:09] vtbassmatt commented on #30
I'm no longer working on Azure DevOps.

[2022-05-04 09:17] anatolybolshakov commented on #30
Hi @RDavis3000 I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 for this question - this repo is mostly for questions regarding templates located here, but devcom portal would be a better place for generic ADO questions.

[2022-05-05 18:04] guidooliveira commented on #427
another way would be to pass the parameter converted into json and using ConvertFrom-Json to turn it into an object
- pwsh: |
              $jsonObject = "${{ convertToJson(parameters.complex) }}" | ConvertFrom-Json

[2022-05-05 18:04] guidooliveira commented on #427
another way would be to pass the parameter converted into json and
[code]

[2022-05-06 13:36] Henderson42 commented on #427
I just wanted to pop a note here that I found easiest way to get this working was following the last point in @guidooliveira's latest comment.

[code]
To use it I used Powershell@2 task:
[code]
From here it's easy enough to handle the object as a Powershell object within the script.

**N.B.** I'm not entirely sure why but if I wrapped the line with quotes rather than apostrophes:
[code]
I'd get an

[2022-05-22 14:00] rodchenkov opened #566 "Yaml deployment job download path issue"
When using deployment job in yaml the artifacts from CI pipeline downloaded to '/home/vsts/work/1/ci/...'
How to get this path as variable in pipeline?

Starting: Download Artifact
==============================================================================
Task         : Download build artifacts
Description  : Download files that were saved as artifacts of a completed build
Version      : 0.200

[2022-05-26 19:36] gswallow commented on #103
I have a Terraform project that calls another module in a private github repository.  Do I still have to do this?

[code]

[2022-05-30 14:52] KonstantinTyukalov commented on #566
Hi @rodchenkov you can define pipeline variables by this article:  https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch

Your case will be like:
[code]

is this a solution to your question?

[2022-06-01 07:06] anilsamuel opened #567 "Parameter or variable of type object or list that can be set from a script"
Hooping to do something similar but looking for a way to set the list value of parameters.StackNames using command below prior to Delete ${{ stack }}

`aws cloudformation describe-stacks --query "reverse(Stacks[? starts_with(StackName,'boomi-')] | sort_by(@, &CreationTime) | [].StackName)"
`
[code]

[2022-06-06 09:31] rodchenkov commented on #566
Hi @KonstantinTyukalov and thanks for your help.
Variable is nice option, but looks like what I really need is to understand how to get name of pipeline from witch we are getting artifacts.
What I found is that name of pipeline is same as name of folder to witch our CD downloads artifacts.
As you can see in code below in resources we have pipelines with one pipeline named **ci**
Later during downl

[2022-06-06 19:14] deckerbr1979 opened #568 "YAML Extend Stage Template"
Hello All,

Looking to try and get some help figuring out a solution to what seems like a simple task. I am trying to develop some extend YAML templates for security within our ADO pipelines but first I have to get passed this error I am experiencing.

The error being returned by ADO when I try to validate or run the pipeline is `"/ADO_Stage_Restrictions_Dev.yml@AdoRestrictions (Line: 7, Col: 3):

[2022-06-07 14:24] jadzdtc opened #569 "Coalesce operator breaks iteration of objects in nested array"
Following pipeline won't run
[code]
yielding following error:
![image](https://user-images.githubusercontent.com/65334140/172403061-1352feba-55d5-4864-80bc-27510ca8834f.png)

If coalesce operator is removed, pipeline works as expected (fails due to not unique job names). Also if nested array consist of simple types, there will be no type conversion issues.

Please fix this behavior cause it is not

[2022-06-07 22:29] anilsamuel commented on #567
Could you please provide snippet that use another pipeline to achieve this ? as i do not understand how.

[2022-06-15 16:09] vmapetr commented on #569
@jadzdtc Thanks for reporting! We are working on more prioritized issues now but will get back to this one soon.

[2022-06-22 16:01] D41172902 commented on #39
I don't see why this would be closed out - it is an important feature to have. I mean... Jenkins can do this. Why can't Azure DevOps? We have a need to run the same pipeline with several different parameters on several different schedules. Has a solution to run YAML build pipelines on a schedule w/ the parameters you want been found?

Seems odd that something like Jenkins can do this but ADO can n

[2022-06-30 13:51] jvmlet opened #570 "Pipeline parameters from template are not rendered in Run pipeline UI"
[code]

[code]

![image](https://user-images.githubusercontent.com/6664858/176694487-0da9f2fb-7fa7-491a-98c7-b02f47ef5973.png)

[2022-07-01 07:41] matteotumiati commented on #570
This is expected, you have to define runtime parameters in the main pipeline '.azure-pipelines.yml'. I would say it's an architectural design choice, not a bug.

[2022-07-01 09:19] jvmlet commented on #570
Thanks @matteotumiati. Any chance to get what I'm after? Like template for variables?

[2022-07-01 12:34] jvmlet commented on #570
We have X repositories that use template to define the pipeline. When running manually, set of parameters should be presented and passed to templates jobs

[2022-07-01 12:46] matteotumiati commented on #570
As far as I know there's no possibility to have either variables or runtime parameters to be "available" only when running manually.
I would say you always need to provide a default value that a user can change when running the pipeline manually.

My recommendation is to go with variables.. slightly less user friendly compared to runtime parameters (but not more complicated to set when opening the

[2022-07-01 12:50] jvmlet commented on #570
Thanks @matteotumiati, I will leave the issue open, may be MS team will find this feature useful to implement

[2022-08-01 14:40] mikemissakian commented on #430
Bad Microsoft code example. I followed the code in this Microsoft example: https://docs.microsoft.com/en-us/azure/devops/pipelines/security/templates?view=azure-devops-2020#type-safe-parameters
Which didn't work - gave me the "Unexpected value 'pool' " error - which searching the web brought me to this issue.

[2022-08-05 12:21] mblaschke-daimlertruck opened #571 "Repository triggers doesn't trigger when batch is enabled"
I'm trying to setup a pipeline which should trigger when changes in multiple repositories are detected but with a batched job:

[code]

This pipeline triggers when changes in self are detected but not in repo1.
If i disable `batch: true` on repo1 then also the pipeline runs for commits in repo1, but doesn't care if there is already job running.

[2022-08-08 19:01] LiliaSabitova commented on #571
Hi @mblaschke-daimlertruck thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-08-17 23:43] Janevski commented on #31
Same here.
The subscription exists in service connections, it has all pipeline permissions, yet this authorization error still happens.

I figured out Microsoft wants us to suffer and that's the reason.
And a way of fixing their issie is not using their platform.

[2022-08-18 11:23] rettichschnidi commented on #445
After wasting too many hours, this seems to work in Azure DevOps:

[code]

But I wish for you to have already moved on from DevOps - it's a truly terrible experience IMHO.

[2022-09-07 08:56] jmlp1 commented on #31
I was using my  subscription Id on the yaml, changing to the same name to the service connection just worked, go figure!, Thanks for the post, I was in a real sucking pickle and crazy loop

[2022-09-15 06:38] fuxiuyin opened #574 "Dynamic display name with variables doesn't work on template."
I'm using YAML stage template and trying to make my stage display name dynamic. But the display name is variable itself not the variable value like:

[code]

I made a minimal pipeline to reproduce it:

[code]

And the template is:

[code]

[2022-09-15 13:11] wesmacdonald commented on #574
Good morning,

You need to use the following template expression syntax for packageType, this will process it at compile time and the value will be displayed

stages:
  - template: templates/display_name.yml
    parameters:
      packageType: ${{ variables.packageType }}

Cheers,
Wes

[2022-09-16 02:18] fuxiuyin commented on #574
Thank you Wes for your help. It works.

[2022-09-16 02:18] #574 closed

[2022-09-16 08:49] martingalvan-nordic commented on #39
FWIW there's this StackOverflow answer which allows you to do custom things if the pipeline was scheduled vs manually run: https://stackoverflow.com/a/71511521/3688293

[2022-09-20 09:19] SwardCoder opened #575 "How to concatinate value in loop using YAML"
i have an azure pipeline with parameters and I want to get a variable value filled by concatenating the parameter's name but when I tried to do that using YAML loop its threw error

[code]
Unexpected symbol: '=item'
is the Error
so can any one help me how to concatenate all the parameters as comma separated into a single variable
i tried all ways and came back here :(

[2022-09-21 08:08] musukvl commented on #467
`length`  really works:
[code]

[2022-09-27 08:24] tapika opened #576 "Support for if-else runtime condition evaluation"
Currently if you want to get compile time if-else evaluation - you can do something like this:

[code]

if you want to have runtime if-else evaluation - then it's not possible directly, but possible to make it indirectly:

https://stackoverflow.com/a/67198023/2338477

using `replace` function two times.

It would be nice if yaml would support directly function like:

`if(<condition>, <then case> <

[2022-09-28 04:19] tapika opened #577 "Possibility to use runtime variable in condition"
By default yaml does permit use of compile time variables in conditions.

For example:

[code]

this syntax is supported.

But this syntax is not supported:

[code]

https://learn.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml

this page mentions this as a limitation of yaml language:

`For example, if you have a job that sets a variable using a runtime e

[2022-09-28 04:25] tapika opened #578 "Possibility to use runtime variables as a template argument"
By default yaml does permit use of compile time variables in conditions.

For example:

[code]

this syntax is supported.

But this syntax is not supported:

[code]

According to following web page:

https://learn.microsoft.com/en-us/azure/devops/pipelines/process/runtime-parameters?view=azure-devops&tabs=script

Which suggests that using runtime variables as a template parameters is not possible.

[2022-10-04 09:39] tapika commented on #577
Correction to statement above:

[code]
=> does not work.

[code]

=> works correctly.

[2022-10-07 20:15] jontreynes commented on #90
Is there any support to have an append to array. I see the support here converts an array to a string with a delimiter. However, the use case I'm looking for is to append to an array.

For example

[code]

[2022-10-12 23:10] guidooliveira commented on #578
I would really love this feature, and/or possibly a way to pass arrays or objects as stringified JSON, just like we do for matrix.

[2022-10-12 23:10] guidooliveira commented on #575
Excellent feature suggestion

[2022-11-08 13:40] DmitriiBobreshev commented on #578
Hi @tapika, thank you for the suggestion and sorry for the late response, this repo is used for some questions about YAML examples and problems that you may encounter in the course of work. To request some features for more convenient use or report about the issue you can post this suggestion to [the Developer Comunity](https://developercommunity.visualstudio.com/home)

[2022-11-08 13:40] #578 closed

[2022-11-08 13:42] DmitriiBobreshev commented on #577
Hi @tapika, thank you for the suggestion. This repo is used for some questions about YAML examples and problems that you may encounter in the course of your work. To request some features for more convenient use you can post this suggestion to [the Developer Community](https://developercommunity.visualstudio.com/home). Sorry for the late response

[2022-11-08 13:42] #577 closed

[2022-11-08 13:49] DmitriiBobreshev commented on #576
@tapika, hello again :), thanks for the suggestion. This repo is used for some questions about YAML examples and problems that you may encounter in the course of your work. To request some features for more convenient use you can post this suggestion to [the Developer Community](https://developercommunity.visualstudio.com/home). Sorry for the late response

[2022-11-08 13:49] #576 closed

[2022-11-10 08:10] nbhoski commented on #562
@DaniilShmelev any updates on this PR ?

[2022-11-11 11:55] cokeSchlumpf opened #579 "Resource webhook filters with paths which contain special keys."
Hi everyone,

I have detected a potential issue with the webhok filters. We have an incomming JSON which contains keys with dots. Example:

[code]

There is no chance that the suggested notation of the filter could work, e.g.,

[code]

I tried the bracket notation, but without success:

[code]

Is there any way to get this working?

[2022-11-16 07:25] KonstantinTyukalov commented on #579
Hi @cokeSchlumpf, thank you for the information provided! Let us check once we've dealt with higher priority tickets

[2022-11-17 10:54] calohmn commented on #31
Editing the service connection and just modifying the description fixed the issue for me.
("Grant Access permission to all pipelines" is unchecked in my case.)

[2022-11-25 16:59] martingalvan-nordic commented on #420
+1 to this. This is an extremely useful feature, esp. when the matrix items are builds donde on different OSs, architectures, etc which can be later tested individually regardless of what happened to the rest.

[2022-11-29 10:21] dushyantovyas commented on #199
I am still unable to use step templates in deployment jobs

The referred template in the step has following structure:

`parameters:
    - name: A
      displayName: A
      type: string
      default: "A"
steps:
   -  script:
   -  template: ...`

I get error from pipeline mentioning :    Unexpected value 'steps'

[2022-11-29 18:01] dboyleM3 commented on #467
I used conditions

    condition: ne('${{ length(parameters.extraSteps) }}', '0')